# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# directory
workspace/
.cache/
tmp/
# temporary files
*~
*.db
\#*
#compressed files in root directory
/*.zip
/*.7z
# Object/Exe files
*.o
*.class
*.exe
# Private directory
private/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


